<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>add expenses</h1>
        <form action="/addex" method="post">
            title:
            <input type="text" name="title" id=""><br><br>
            category:
            <input type="text" name="category" id=""><br><br>
            amount:
            <input type="text" name="amount" id=""><br><br>
            date:
            <input type="date" name="date" id=""><br><br>
            description:
            <input type="text" name="description" id=""><br><br>
            userid:
            <input type="text" name="userid" id=""><br><br>
            <button type="submit">submit</button>
        </form>
    </center>
</body>
</html>